/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Playfair Display', serif;
    background: #fff;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;
}

.logo img {
    height: 120px;
}

/* NAV LINKS */
.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #b23a3a;
    font-weight: 500;
    position: relative;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #5f7742;
    transition: 0.3s;
}

.navbar a:hover::after {
    width: 100%;
}

/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* BACKGROUND IMAGE */
.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* TEXT OVER IMAGE */
.hero-title {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);

    display: flex;
    align-items: flex-end;
    gap: 30px;

    z-index: 2;
}

/* LEFT TEXT */
.hero-left h1 {
    font-size: 110px;
    font-weight: 900;
    line-height: 0.85;
    color: white;
    text-shadow: 0 5px 25px rgba(0,0,0,0.5);
}

/* RIGHT TEXT */
.hero-right {
    padding-bottom: 15px;
}

.hero-right p {
    font-size: 14px;
    letter-spacing: 5px;
    color: white;
    opacity: 0.8;
}

.hero-right h3 {
    font-size: 20px;
    font-weight: 600;
    color: #d4af37;
    letter-spacing: 2px;
}
