* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;

    background: linear-gradient(135deg, #2C1F1A, #5A3E2B, #FF8C42);
    color: #F5E6D3;
}

.container {
    max-width: 800px;
    padding: 20px;
}

.top-text {
    font-size: 12px;
    letter-spacing: 3px;
    color: #c9b6a4;
    margin-bottom: 60px;
}

.quote {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-style: italic;
    line-height: 1.6;
    margin-bottom: 50px;
}

.line {
    font-size: 16px;
    color: #d6bfa9;
    margin-bottom: 30px;
}

.coming {
    font-size: 14px;
    color: #a68a75;
    letter-spacing: 2px;
}

/* BUTTON */
.project-btn {
    margin-bottom: 30px;
    padding: 12px 28px;

    font-size: 14px;
    letter-spacing: 1px;

    color: #F5E6D3;
    background: transparent;

    border: 1px solid #F5E6D3;
    border-radius: 30px;

    cursor: pointer;
    transition: 0.3s;
}

.project-btn:hover {
    background: #F5E6D3;
    color: #2C1F1A;
}

/* Responsive */
@media (max-width: 600px) {
    .quote {
        font-size: 22px;
    }
}